.preloader-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(255, 255, 255, .3);
  .preloader {
    position: absolute;
    top: 35%;
    left: 50%;
    border-radius: 50%;
    border: 3px solid rgba(247, 120, 107, 1);
    border-top-color: rgba(3, 79, 132, 1);
    border-left-color: rgba(255, 255, 255, 0.9);
    border-bottom: transparent;
    width: 50px;
    height: 50px;
    animation: rotate .7s linear infinite;
  }
}
@keyframes rotate {
  from { 
    transform: rotate(0deg); 
  } to { 
    transform: rotate(360deg); 
  }
}